contourpy==1.0.7
cssselect2==0.7.0
cycler==0.11.0
docutils==0.19
fonttools==4.38.0
kiwisolver==1.4.4
lxml==4.9.2
matplotlib==3.6.3
numpy==1.24.1
packaging==23.0
pdfCropMargins==1.1.8
Pillow==9.3.0
PyMuPDF==1.21.1
pyparsing==3.0.9
PyPDF2==2.12.1
PySimpleGUI==4.60.4
python-dateutil==2.8.2
reportlab==3.6.12
six==1.16.0
svg.path==6.2
svglib==1.5.1
tinycss2==1.2.1
webencodings==0.5.1
